.shoppingCart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    display: flex;
    align-items: center;
    font-size: 1em;
  }
  span {
    display: inline-block;
    margin-left: 0.5em;
  }
  ul {
    width: 80px;
    text-align: left;
    padding: 0;
  }
}
