.app-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.app-header,
.app-footer {
  width: 100%;
  background: #d3e3fd;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.app-header {
  height: 50px;
  top: 0;
  cursor: pointer;
}
.app-footer {
  height: 40px;
  bottom: 0;
}

.app-content {
  width: 100%;
  height: 100%;
  padding: 60px 0 50px 0;
}
